/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 abr 2024, 11:33:59
    Author     : Admin
*/


.vj-descatados .card{
    height: 100%;
}

.vj-destacados .card img{
    height: 200px;
    object-fit: cover;
}
