<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/videojuegos.css">

        <title>Tienda  VJ - Algo salió mal</title>
        <style>
            .error-container {
                text-align: center;
                margin-top: 50px;
            }
            .error-image {
                width: 300px;
                height: auto;
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body>
        <!-- As a link -->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/img/video_game.png}" width="30" height="30" alt="Logo">
                Tienda VJ
            </a>
            <form th:action="@{/buscar}" class="form-inline my-2 my-lg-0">
                <input autofocus="autofocus" name="q" class="form-control mr-sm-2" type="search" th:placeholder="${param.q}" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </nav>

        <div class="container mt-5 vj-destacados">
            <div class="row">
                <div class="col col-md-12 mb-4">                    
                    <div class="error-container">
                        <img th:src="@{/img/error-icon.png}" alt="Error" class="error-image">
                        <h2>¡Oops! Algo salió mal.</h2>
                        <p>Lo sentimos, se produjo un error al procesar su solicitud.</p>
                        <p>Error: <span th:text="${mensajeError}" class="badge badge-danger"></span></p>
                        <!-- Puedes proporcionar más detalles sobre el error si lo deseas -->
                    </div>
                </div>
            </div>
        </div> 



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>